[core]
    pager = delta
    precomposeUnicode = true
    editor = nvim

[init]
    defaultBranch = main

[ssh]
    variant = ssh

[pull]
    rebase = true

[push]
    autoSetupRemote = true

[advice]
    detachedHead = false

[alias]
    a = add
    br = branch
    ca = commit --amend
    can = commit --amend --no-edit
    ci = commit
    co = checkout
    cp = cherry-pick
    df = diff
    fa = fetch --all --prune
    st = status
    p = push
    pf = push --force
    pfl = push --force --with-lease
    pl = pull
    re = rebase
    st = status

[merge]
    conflictstyle = diff3

[diff]
    tool = delta
    colorMoved = default

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true
    light = false
    side-by-side = true
    line-numbers = true

[include]
    path = ~/.gitconfig.local
