[core]
    precomposeUnicode = true

[init]
    defaultBranch = main

[ssh]
    variant = ssh

[user]
    email = rodrigo.garcia-leon@empassion.com
    name = Rodrigo García León

[pull]
    rebase = true

[push]
    autoSetupRemote = true

[github]
    user = rodrigo.garcia-leon@empassion.com

[advice]
    detachedHead = false

[alias]
    co = checkout
    ci = commit
    st = status
    br = branch
    cp = cherry-pick
    re = rebase
    df = diff
    p = push
    pf = push --force
    pl = pull
    fa = fetch --all --prune
    ca = commit --amend
    can = commit --amend --no-edit

[merge]
    conflictstyle = diff3

[diff]
    colorMoved = default
